:root {
  --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

body {
  background-color: #f7f7f7;
  font-family: 'Lato', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

main {
  width: 400px;
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
}

h1 {
  letter-spacing: 1px;
  margin: 0;
}

#balance-container {
  margin: 20px 0;
}

#balance {
  font-size: 2.5rem;
  margin: 0;
}

#summary-container {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  border-radius: 5px;
}

#summary-container > div {
  flex: 1;
  text-align: center;
}

#summary-container > div:first-of-type {
  border-right: 1px solid #dedede;
}

h4 {
  margin: 0;
  text-transform: uppercase;
}

#list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 40px;
}

#list li {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  color: #333;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 10px;
  margin: 10px 0;
  border-radius: 4px;
}

/* Red border for expenses, Green for income */
#list li.minus {
  border-right: 5px solid #c0392b;
}

#list li.plus {
  border-right: 5px solid #2ecc71;
}

input[type='text'],
input[type='number'] {
  border: 1px solid #dedede;
  border-radius: 2px;
  display: block;
  font-size: 16px;
  padding: 10px;
  width: 100%;
  margin-top: 5px;
  box-sizing: border-box; /* Ensures padding doesn't break width */
}

button {
  cursor: pointer;
  background-color: #9c88ff;
  box-shadow: var(--box-shadow);
  color: #fff;
  border: 0;
  display: block;
  font-size: 16px;
  margin: 10px 0 30px;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  transition: background 0.3s ease;
}

button:hover {
  background-color: #8c7ae6;
}